<%- include("../partials/header.ejs") %>
<div class="container">
<h1>Edit your movie</h1>
<form action="/prints/<%= print._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
<div class="mb-3">
    <label class="form-label">Title</label>
    <input type="text" class="form-control" name="print[name]" placeholder="<%= print.name %>", value = "<%= print.name %>">
</div>
<div class="mb-3">
    <label class="form-label">type</label>
    <input type="text" class="form-control" name="print[Artist]" placeholder="<%= print.Artist %>", value = "<%= print.Artist %>">
</div>
<div class="mb-3">
    <label class="form-label">time</label>
    <input type="text" class="form-control" name="print[Artist]" placeholder="<%= print.Artist %>", value = "<%= print.Artist %>">
</div>
<div class="mb-3">
    <label class="form-label">เรื่องย่อ</label>
    <input type="text" class="form-control" name="print[short]" placeholder="<%= print.short %>", value = "<%= print.short %>">
</div>
<div class="mb-3">
    <label class="form-label">video ตัวอย่าง</label>
    <input type="text" class="form-control" name="print[trailer]" placeholder="<%= print.trailer %>", value = "<%= print.trailer %>">
</div>
<div class="mb-3">
    <label class="form-label">Image</label>
    <img src="<%= print.image %>" height = '300px'>
    <input type="file" class="form-control" name="image" accept='image/*'>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
<a href="/prints">Go back</a>
</form>
</div>

<%- include("../partials/footer.ejs") %>