<%- include("../partials/header.ejs") %>
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
       <h1 class="fw-light" style="color: white;">โปรแกรมหนังทั้งหมด</h1>
       <% if (currentUser.isAdmin == true  ){ %>
        <a href="/prints/new" class="btn center1">Add new movie</a>  
        <% } %> 
        <p>
        <!-- <a href="/prints/new" class="btn btn-primary my-2">Add new print</a>  -->
        </p>
      </div>
    </div>
  </section>

  
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% prints.forEach(function(prints){ %>
        <div class="col">
          <div class="card shadow-sm b1">
            <a href="/prints/<%= prints._id %>"><img href="/prints/<%= prints._id %>"  src="<%= prints.image %>" height="500px"  width="100%" > </a>
           <!--<img href="/prints/<%= prints._id %>"  src="<%= prints.image %>" height="300px"  > -->
            <div class="card-body">
              <p class="card-text">Title: <%= prints.name %></p>
              <p class="card-text">Type: <%= prints.Artist %></p>
             
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <!--  <a href="/prints/<%= prints._id %>" class="btn btn-sm btn-outline-secondary">View</a> 
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }); %> 
      </div>
    </div>
  </div>

<%- include("../partials/footer.ejs") %>